<!DOCTYPE html>
<html lang= "en">

<head>
    <link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static',filename='css/styles.css')}}" rel="stylesheet" media="screen">
</head>

<header class="navbar navbar-static-top bs-docs-nav flask_header" id="top" role="banner">
	<nav class="navbar flask_header navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="flask_body navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="flask_header icon-bar"></span>
            <span class="flask_header icon-bar"></span>
            <span class="flask_header icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Milktea</a> -->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="active" href="/">Home</a></li>
			<li><a href="/about/">About</a></li>
			<li><a href="/versions/">Versions</a></li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<body class="flask_body">
	<div class="container">
		{% block body %}
		{% endblock %}
	</div>
</body>

<div class="navbar-fixed-bottom flask_footer">
    <div class="container">
        <a class="navbar-text">Milktea 2015</a>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</html>

